*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI,sans-serif;
}

body{
    background:#111827;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    color:white;
}

.container{
    width:380px;
    text-align:center;
}

h1{
    margin-bottom:20px;
}

.mode-container{
    display:flex;
    gap:10px;
    margin-bottom:20px;
}

.mode-btn{
    flex:1;
    padding:10px;
    border:none;
    cursor:pointer;
    background:#2d3748;
    color:white;
    border-radius:8px;
    font-weight:bold;
    transition:.3s;
}

.mode-btn.active{
    background:#00bcd4;
}

#status{
    margin:20px 0;
}

.game-board{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:10px;
}

.cell{
    height:110px;
    background:#1f2937;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:55px;
    cursor:pointer;
    border-radius:10px;
    transition:.3s;
}

.cell:hover{
    background:#374151;
}

.x{
    color:#00e676;
}

.o{
    color:#ff9800;
}

#reset-btn{
    width:100%;
    margin-top:20px;
    padding:12px;
    border:none;
    border-radius:8px;
    background:#f44336;
    color:white;
    font-size:16px;
    cursor:pointer;
}

#reset-btn:hover{
    background:#ff6659;
}